html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    /* Location of the image */
    background-image: url("../pictures/underConstruction.png");

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
}

.header{
    /*color: #FF3E3E;*/
    background-color: #FF3E3E;
    /*background-image: linear-gradient(to top , rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.5));*/
    max-height: 15%;
}

#footerLinks{
    text-align: center;
}

.footer{
    /*background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.35));*/
    background-color: #FF3E3E;
    position:fixed;
    right: 0;
    bottom: 0;
    left: 0;
    /*padding: 1rem;*/
    max-height: 8%;
}

.footerText{
    text-align: center;

    font-family: "Calibri";
    font-weight: lighter;
    color: #000000;
    font-size: 18px;

    margin-top: 1.5%;
}

.footerLink{
    margin-left: 3%;

    text-decoration: none;
    font-family: "Calibri";
    font-weight: lighter;
    color: #000000;
    font-size: 18px;
}

#headerLinks{
    margin-top: 13%;
    text-align:right;
    vertical-align: bottom;
}

.headerLink{
    margin-left: 3%;
    text-decoration: none;
    font-family: "Calibri";
    font-weight: lighter;
    color: #FFC300;
    font-size: 25px;
}

.pageText{
    color: #aebd4c;
    text-decoration: none;
    font-family: "Calibri";
    font-weight: lighter;
}